@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");

.cursor-pointer {
  cursor: pointer;
}

.font-delta {
  font-family: "Staatliches", cursive;
}

.logo-img {
  width: 400px;
}

@media (min-width: 768px) {
  .logo-img {
    width: 550px;
  }
}
.image-16x9 {
  position: relative;
  padding-bottom: 56.2%;
}

.image-16x9 img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
